<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div>
  <label>API URL </label>
  <input type="text" #apiUrl placeholder="Enter API URL" name="apiUrl" required>
</div>
<div>
  <label>Chart Type </label>
  <select name="chartType" #chartType>
    <option value="line">Line Chart</option>
    <option value="bar">Bar Chart</option>
  </select>
</div>

<button (click)="getInfo(apiUrl.value, chartType.value)">Submit</button>
<div>
  <app-chart *ngIf="isClick" [chartType]="chartTypeValue" [apiUrl]="apiUrlValue"></app-chart>
</div>

<!-- <app-line-chart *ngIf="isClick && chartTypeValue === 'line'" [apiUrl]="apiUrlValue" [chartType]="chartTypeValue"></app-line-chart>    -->
<!-- <app-bar-chart *ngIf="isClick && chartTypeValue === 'bar'" [apiUrl]="apiUrlValue" [chartType]="chartTypeValue"></app-bar-chart> -->
